/* ============ */
/*    MIXINS    */
/* ============ */

@mixin gridBody($grid-template-rows: 5rem auto, $column-gap: 0, $row-gap: 0) {
  display: grid;
  grid-template-columns: 5rem repeat(13, 1fr);
  grid-template-rows: $grid-template-rows;
  column-gap: $column-gap;
  row-gap: $row-gap;
  padding: 0;
  grid-auto-columns: 0;
  grid-auto-rows: 0;
}

@mixin gridHeader($padding: 0) {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto;
  align-items: center;
  padding: $padding;
}

@mixin gridMain($grid-template-rows: auto, $padding: 5rem 0) {
  display: grid;
  grid-template-columns: 2rem repeat(12, 1fr) 2rem; //1fr repeat(12, 64px) 1fr
  grid-template-rows: $grid-template-rows;
  column-gap: 0; //32px
  grid-auto-columns: 0;
  grid-auto-rows: 0;
  padding: $padding;
}

@mixin gridService($grid-template-rows: auto auto, $padding: 3rem 5rem) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: $grid-template-rows;
  column-gap: 0;
  grid-auto-columns: 0;
  grid-auto-rows: 0;
  padding: $padding;
}

// COLOR OF TEXT (couleur de texte en fonction du background)
@mixin color($background-color) { // Dans header ou main ou section ou footer
  @if $background-color == $dark-color {
    background-color: $dark-color;
    color: $light-color;
  } @else if $background-color == $light-color{
    background-color: $light-color;
    color: $dark-color;
  } @else if $background-color == $orange {
    background-color: $orange;
    color: $light-color;
  } @else if $background-color == $yellow{
    background-color: $yellow;
    color: $light-color;
  } @else if $background-color == $light-grey{
    background-color: $light-grey;
    color: $dark-color;
  } @else {
    p { color: red; }
  }
}