h1 { font-size: 48px }
h2 { font-size: 36px }
h3 { font-size: 24px }
h4 { font-size: 18px }

p {
  font-size: 16px;
}

label {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

input, input::placeholder, button {
  font-size: 16px;
  text-align: center;
}

