$blue-checkbox: #0f52fa;
$green-checkbox: #46eb55;

$dark-color: #2d302d;
$orange: #fb6602;
$yellow: #f6a705;
$light-grey: #f0f2f5;
$light-color: #fff;

$shadow: #999999;
$shadow-block: #c8c8c8;

$radius-block: 1rem;

$box-shadow-header: 0px 10px 20px $shadow;
$box-shadow-title: 0px 5px 10px 5px $shadow-block;
$box-shadow-block: 0px 7px 5px $shadow-block;
