#indexMain {
  grid-column: 2/15;
  grid-row: 2/3;
  @include color($light-grey);
  @include gridMain($grid-template-rows: 11rem auto auto, $padding: 4rem 0);
  height: 100%;
  //border-top-left-radius: 1.5rem;

  .helloUser {
    @include color($yellow);
    grid-column: 2/14;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    border-radius: $radius-block;
    box-shadow: $box-shadow-title;

    div {
      display: flex;
      flex-direction: column;

      h1 { margin-bottom: 1rem }
      p { font-size: 28px }
    }

  }

  #boardVoid {
    grid-column: 2/14;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    margin: 2rem 0 auto 0;
    background-color: $light-color;
    border-radius: $radius-block;
    box-shadow: $box-shadow-block;

    .bi-clipboard-x {
      width: auto;
      height: 14rem;
      margin-bottom: 5rem;
      color: $orange;
    }

    h2 {
      font-weight: 800;
      margin-bottom: 1rem;
    }

    p { font-size: 22px; }

    div {
      @include color($yellow);
      height: 3rem;
      padding: .5rem;
      margin-top: 1.5rem;
      border-radius: 3rem;
      cursor: pointer;

      svg { width: 2rem; height: 2rem; }

      &:hover {
        @include color($orange);
        transform: rotate(1turn);
        transition: .6s ease-out;
      }
    }
  }

  .serviceSection {
    grid-column: 4/12;
    grid-row: 3/4;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba($orange, .5);
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .addService {
      @include color($light-color);
      width: 1082px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 3rem 5rem;
      border-radius: $radius-block;

      h2 {
        width: 100%;
        text-align: center;
        margin: 0 auto 1rem auto;
      }

      .bi-x {
        width: 3rem;
        height: auto;
        position: absolute;
        transform: translate(30rem, -1rem);
        cursor: pointer;
      }

      .service {
        @include color($yellow);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        margin: 1rem;
        border-radius: $radius-block;
        box-shadow: $box-shadow-block;

        h3 { margin: 1rem 0 3rem 0; }

        svg {
          width: 3rem;
          height: auto;
          margin: 0 auto;
        }

        input {
          width: 2rem;
          height: 2rem;
          margin: 0 auto;
        }
      }
    }
  }


}