<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <form method="post" th:action="@{/sign-in}">

        <h1>Sign-In</h1>

        <div class="alert alert-info" th:if="${message}" th:text="${message}"></div>

        <div th:if="${param.error}" class="alert alert-error">
            Invalid username or password
        </div>

        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out
        </div>

        <div class="form-group">
            <lable>Name</lable>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <lable>Password</lable>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Connect</button>

    </form>
    <a href="/sign-up" class="btn btn-secondary">Create account</a>

</body>
</html>